@media (max-width: 992px) {
    #section4-services,
    #section5-services,
    #section6-services,
    #section7-services,
    #section8-services,
    #section9-services, 
    #section10-services {
        padding: 25px 0 !important;
    }
    #section10-services {
        padding: 25px 0 50px 0 !important;
    }
    #section4-services {
        padding: 50px 0 25px 0 !important;
    }
}