@font-face {
    font-family: "Montserrat-regular";
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat-light";
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "SegoeUI-Regular";
    src: url('../fonts/SegoeUI.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SegoeUI-Bold";
    src: url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "SegoeUI-SemiBold";
    src: url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}