//general media-styles here...
@media (max-width: 991px) {
    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 18px !important;
        letter-spacing: 0;
    }

    h3 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }

    ul li {
        font-size: 16px !important;
    }

    section {
        padding: 50px 0 !important;
    }


    footer .container .row .col-12 p {
        font-size: 10px !important;
    }
}