#section1 {
    padding: 100px 0;
    background: transparent;
    position: relative;

    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url('../images/index/section1Bg.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .arrow {
        display: flex;
        width: 100vw;
        left: 0;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        animation: arrow 1s infinite ease-in-out;
        outline: none;

        &:hover {
            background: rgba(0, 0, 0, 0) !important;
        }

        img {
            width: 34px;
        }
    }

    .container {
        .row {
            justify-content: space-between;

            .col-lg-4:nth-child(1) {
                .card {
                    color: $mainColor;
                    height: 100%;

                    .card-head {
                        h1 {
                            font-family: 'SegoeUI-Regular';
                            font-size: 54px;
                        }

                        p {
                            font-family: 'Montserrat-Light';
                            color: $mainColor;
                            font-size: 20px;
                            margin-top: 30px;
                            line-height: 27px;

                        }
                    }

                    .card-footer {
                        margin-top: 50px;

                        a#scroll-btn {
                            font-family: 'SegoeUI-Regular';
                            background: $secondColor;
                            border: 0;
                            border-radius: 7px;
                            color: $mainColor;
                            padding: 15px 30px;
                            text-decoration: none;
                        }
                    }
                }
            }

            .col-lg-4:nth-child(2) {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                // img {
                //     position: absolute;
                //     bottom: -101px;
                // }
                .phone-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background: url('../images/index/phone.png') no-repeat center;
                    background-position: bottom;
                    background-size: contain;
                    position: absolute;
                    bottom: -99px;
                    // z-index: 10;
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 7px;
                        padding: 30px 10px;
                        width: 250px;
                        text-align: center;
                        transform: translateX(-3px);

                        h3 {
                            font-size: 18px;
                            font-family: "Montserrat-Regular";

                            color: $mainColor;
                            letter-spacing: 1px;

                            &::after {
                                content: '';
                                display: block;
                                width: 67px;
                                height: 2px;
                                background: $lineColor;
                                margin: 20px auto;
                            }
                        }

                        a {
                            background: $secondColor;
                            padding: 10px 20px;
                            color: $mainColor;
                            text-decoration: none;
                            border-radius: 5px;

                            &:hover {
                                background: rgba(0, 0, 0, 0);
                                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.226);
                            }
                        }
                    }
                }
            }
        }
    }
}

#section2 {
    padding: 100px 0;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);

    background: $sectionBg;

    .container {
        .row {
            .col-lg-6 {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    background: $mainColor;
                    padding: 30px 20px;
                    box-shadow: rgba(0, 0, 0, 0.219) 0 0 5px;
                    line-height: 23px;
                }
            }

            .col-6 {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:nth-child(2) {
                padding-top: 60px;
            }
        }
    }
}

#section3 {
    padding: 80px 0;

    .container {
        .row {
            display: flex;
            justify-content: center;
            align-items: baseline;

            .col-lg-2 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .circle {
                    background: $mainColor;
                    width: 140px;
                    height: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    box-shadow: #00000071 0 4px 13px;
                    margin-bottom: 30px;

                    &:hover {
                        transform: scale(1.05);
                    }

                    img {
                        width: 70px;
                        height: 70px;
                    }
                }

                p {
                    color: $mainColor;
                    font-family: 'SegoeUi-Regular';
                    letter-spacing: 2px;
                    font-size: 21px;
                    text-align: center;

                }
            }
        }
    }
}

#section4 {
    background: $sectionBg;
    padding: 100px 0 0 0;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;

    .container {
        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            .col-lg-4 {
                padding: 0;

                img {
                    width: 100%;
                    height: auto;
                }

                h2 {
                    position: absolute;
                    z-index: 10;
                    bottom: 40px;
                    width: 100%;
                    text-align: center;
                    color: $mainColor;
                    font-family: 'SegoeUi-Regular';

                    &:after {
                        margin: 30px auto 0 auto;
                        background: $secondColor;
                    }
                }

                &:hover {
                    transform: scale(1.01);
                }
            }
        }
    }
}

#section5 {
    background: $sectionBg;
    padding: 100px 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.308);

    .container {
        .col-12 {
            h2::after {
                margin: 30px 0 0 0;
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            .col-lg-4 {
                display: flex;
                justify-content: center;
                min-width: 290px;
                max-width: 350px;
                width: 100%;
                margin: auto;
                .card {
                    margin: auto;
                    border-radius: 5px;
                    box-shadow: #00000067 0 0 5px;
                    background: $mainColor;
                    padding: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .card-head {
                        padding: 0;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;

                        img {
                            width: 100%;
                            max-height: 250px;
                            height: auto;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }

                    .card-body {
                        padding: 32px 23px;

                        h3 {
                            color: $secondColor;
                            font-size: 18px;
                            font-family: "SegoeUI-Bold";
                        }

                        p {
                            color: $mainFontColor;
                            font-size: 15px;
                            margin: 15px 0 23px 0;
                            line-height: 23px;
                        }

                        span {
                            text-decoration: none;
                            color: $secondColor;
                            position: relative;
                            font-family: "Montserrat-Regular";
                            font-size: 15px;
                        }
                    }

                    .card-footer {
                        background: $secondColor;
                        display: flex;
                        justify-content: space-between;
                        padding: 17px 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        span {
                            font-size: 15px;
                            color: $mainColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;

                            img {
                                margin-right: 5px;
                                width: 20px;
                                height: 20px;
                            }

                            &:nth-child(1) {
                                width: 70%;
                                border-right: 1px solid $mainColor;

                                img {
                                    margin-right: 10px;
                                }
                            }
                        }

                        a {
                            color: $mainColor;
                            font-size: 15px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            margin: auto;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

#section6 {
    padding: 100px 0;
    .container {
        .row {
            .col-12 {
                h2 {
                    color: $mainColor;
                }
            }

            .col-lg-6 {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: left;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        text-align: left;
                        align-items: center;
                        color: $mainColor;
                        font-family: "Montserrat-Regular";
                        font-size: 20px;
                        margin: 25px 0;

                        img {
                            width: 33px;
                            height: 33px;
                            margin-right: 15px;
                            border: 0;
                            box-shadow: 0;
                        }
                    }
                }

                iframe {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 7px;
                }

            }
        }
    }
}