.callback-form {
    position: fixed;
    opacity: 1;
    z-index: -170;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease;

    .container {
        transform: translateY(-100vh);
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $mainColor;
        border-radius: 10px;
        box-shadow: #00000031 0 10px 10px;
        position: relative;

        h2::after {
            margin: 20px auto;
        }

        .closeBtn {
            position: absolute;
            top: 20px;
            right: 30px;
        }

        .row {
            margin-top: 30px;
            display: flex;
            justify-content: center;

            .col-12 {
                padding: 0 30px;

                input,
                textarea {
                    margin: 10px auto;
                    max-width: 400px;
                    display: block;
                    padding: 10px 20px;
                    border: none;
                    background: $footerColor;
                    color: $mainColor;
                    transition: .3s;
                    border-radius: 7px;
                    font-size: 15px;

                    &::placeholder,
                    &[type="text"] {
                        color: $mainColor;
                        font-family: "Montserrat-Regular";
                        font-size: 12px !important;

                    }

                    &:focus {
                        background: $secondColor;
                        border-radius: 0;
                        font-size: 12px !important;
                    }
                }

                textarea {
                    height: 100%;
                }

                .phone {
                    margin-top: 30px;
                }

                button {
                    margin: 10px auto;
                    max-width: 400px;
                    display: block;
                    padding: 10px 20px;
                    border: none;
                    background: $secondColor;
                    color: $mainColor;
                    transition: .3s;
                    border-radius: 7px;
                    font-size: 15px;

                    &:focus {
                        background: $footerColor;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

.callback-form-show {
    opacity: 1;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.438);

    .container {
        transform: translateY(0);
    }
}